<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = 'stylesheet' href='/mycss/style.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/8a0cf729f9.js" crossorigin="anonymous"></script>
        <title>May's Spa</title>
    </head>
    <body>
      <header class="header-about">
          <div class="about-nav-main">
              <nav>
                 <ul class="about-nav">
                     <li class="prueba"><a class ="a-color" href="#"><img src="/media/logo2.png" alt="may spa facial logo"class="logo"></a></li>
                     <li class="prueb"><a class ="a-color" href="/">HOME</a></li>
                     <li class="prueb"><a class ="a-color" href="/services">SERVICES</a></li>
                     <li class="prueb"><a class ="a-color" href="/about">ABOUT US</a></li>
                     <li class="prueb"><a class ="a-color" href="/contact">CONTACT</a></li>
                     <li class ="prue" id="appoiment"><a href="/contact" id="butonsito">BOOK AN APPOIMENT</a></li>
                     <link rel="icon" type="image/jpg"href="/media/favicon.ico">
                 </ul>
              </nav>
              </div>
              <div class="topnav">
                 <a href="/" class="active"><img src="/media/logo2.png" style="max-width: 100px; max-height: 100px;" alt="may spa facial logo"class="logo"></a>
                 <p class="p-top-nav">MAY'S SPA BEAUTY</p>
                 <p class ="p-top-nav1">CERTIFIED & LICENSED</p>
             <div class="contact100-form-social  flex-c-m"id="mediaDiv">
                <a href="https://www.instagram.com/maysspabeauty/" class="contact100-form-social-item flex-c-m bg1 m-r-5">
                    <i class="fa fa-facebook-f" aria-hidden="true"></i>
                </a>
                <a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/maysspabeauty/" class="contact100-form-social-item flex-c-m bg3">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                 </a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction1()">
                  <i class="fa fa-bars fa-2x "></i>
                </a>
                </div>
                <div class="second-hamburger togglin" id="navbar-about">
                  <a href="javascript:void(0);" class="icon" onclick="myFunction1()">
                    <i class="fa fa-bars fa-2x "></i>
                  </a>
                </div>
            </header>
            <div id="myLinks2">
                <a href="/">HOME</a>
                <a href="/services">SERVICES</a>
                <a href="/about">ABOUT</a>
                <a href="/contact">CONTACT</a>
              </div>
            <div class="about-h1">
                <h1>ABOUT US</h1>
            </div>
            <div class="about-mini-grid">
                <div class="about-text">
                    <h2 class = "about-h2">FACIALS & SKIN SPECIALIST</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in<br>cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                </div>
                <div><img src="/media/appoiment.jpg" style="width: 100%; max-height: 350px;" ></div>
            </div>
            <div class="about-h2">
                <h2> CERFTIFIED SPECIALIST</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip<br> ex ea commodo consequatuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <img src="/media/36.jpg" style="width: 50%;">
            </div>
          <footer class="website-footer">
            <div class="div-p">
              <p class="div-p-p">Questions? Feel free to ask us here! 609-516-8688</p>
            </div>
            <div class="questions">
              <h3>MAY'S SPA BEAUTY!</h3>
              <p>We are a the perfect fit for you! we specialize in numerous cosmetic procedures!have trust in our<br> cosmetologist's and special technicians, to ensure you look your best!<br>give us a call for a detailed list of procedures available in our spa </p>
              <p class="footer-p"><i class="fas fa-map-marker-alt"></i> 48 PATTERSON AVE<br>
                  HAMILTON,NJ 08610</p>
              <P class="footer-p"><i class="fas fa-phone-volume"></i>609-516-8688</P>
              <p class="footer-p"><i class="fas fa-envelope-square"></i>maysspabeauty@gmail.com</p>
            </div>
          </footer>
            <script>function myFunction1() {
  
                var z = document.getElementById("mediaDiv");
                z.style.display = "flex"
                var x = document.getElementById("myLinks2"); 
                if (x.style.display === "block" && z.style.display === "flex") {
                  z.style.display = "flex";
                  x.style.display = "none";
                } else {
                  z.style.display = "none";
                  x.style.display = "block";
                }
               
              }
              // When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction2()};

// Get the navbar
var navbar = document.getElementById("navbar-about");
// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction2() {
  if (window.pageYOffset >= sticky) {
   
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
    navbar.classList.toggle("togglin")


  }
}
function myFunction1() {
  
                var z = document.getElementById("mediaDiv");
                z.style.display = "flex"
                var x = document.getElementById("myLinks2"); 
                if (x.style.display === "block" && z.style.display === "flex") {
                  z.style.display = "flex";
                  x.style.display = "none";
                } else {
                  z.style.display = "none";
                  x.style.display = "block";
                }
               
              }
              // When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction2()};

// Get the navbar
var navbar = document.getElementById("navbar-about");
// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction2() {
  if (window.pageYOffset >= sticky) {
   
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
    navbar.classList.toggle("togglin")


  }
}
              </script>
    </body>
</html>