<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = 'stylesheet' href='/mycss/style.css'>
        <script src="https://kit.fontawesome.com/8a0cf729f9.js" crossorigin="anonymous"></script>
        <title>May's Spa</title>
    </head>
    <body>
      <header class="header-about">
          <div>
              <nav>
                 <ul class="about-nav">
                     <li class="prueba"><a class ="a-color" href="#"><img src="/media/logo2.png" alt="may spa facial logo"class="logo"></a></li>
                     <li class="prueb"><a class ="a-color" href="/">HOME</a></li>
                     <li class="prueb"><a class ="a-color" href="#link-services">SERVICES</a></li>
                     <li class="prueb"><a class ="a-color" href="/about">ABOUT US</a></li>
                     <li class="prueb"><a class ="a-color" href="#link-services">CONTACT</a></li>
                     <li class ="prue" id="appoiment"><a href="/about" id="butonsito">BOOK AN APPOIMENT</a></li>
                 </ul>
              </nav>
              </div>
            </header>
            <div class="about-h1">
                <h1>ABOUT US</h1>
            </div>
            <div class="about-mini-grid">
                <div class="about-text">
                    <h2 class = "about-h2">FACIALS & SKIN SPECIALIST</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in<br>cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                </div>
                <div><img src="/media/appoiment.jpg" style="width: 100%; max-height: 350px;" ></div>
            </div>
            <div class="about-h2">
                <h2> CERFTIFIED SPECIALIST</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip<br> ex ea commodo consequatuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <img src="/media/36.jpg" style="width: 50%;"
            </div>
    </body>
</html>